<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Superliga dos Amigos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
    <h1>🏆 Superliga dos Amigos</h1>

    <ul class="menu menu-horizontal">
        <li><a href="/">Home</a></li>
        <li><a href="/participantes">Participantes 2025</a></li>
        <li class="dropdown">
            
                <a href="#">Resultados ▾</a>
                <ul class="submenu">
                    <li><a href="/resultados/rodada">Rodada</a></li>
                    <li><a href="/resultados/mensal">Mensal</a></li>
                    <li><a href="/resultados/turno">Turno</a></li>
                    <li><a href="/resultados/cartoletas">Cartoletas</a></li>
                    <li><a href="/resultados/maior-pontuador">Maior Pontuador</a></li>
                    <li><a href="/resultados/rodada-a-rodada">Rodada a Rodada</a></li>
                    

                </ul>
                </li>

              <li class="dropdown">
                    <a href="#">Classificações ▾</a>
                    <ul class="submenu">
                        <li><a href="/classificacao">Classificação Geral</a></li>
                        <li><a href="/series">Séries</a></li>
                         <li><a href="/em-desenvolvimento">Vencedores 2025</a></li>
                    </ul>
                </li>


            

            <li><a href="/mata-matas">Mata-Matas</a></li>

            <li><a href="/em-desenvolvimento">Hall da Fama</a></li>
            <li><a href="/em-desenvolvimento">Anos Anteriores</a></li>

            <li><a href="/em-desenvolvimento">Prêmios</a></li>
            
            <li><a href="/em-desenvolvimento">Calendário</a></li>
            <li><a href="/em-desenvolvimento">A Direção</a></li>

    </ul>

    {% block content %}{% endblock %}

    <p class="footer">


        <p>
   <br>
   <br>
   <br>
   <br>
   <br>
        © ZagoPratis Desenvolvimento
    </p>
</div>

</body>
</html>
