{% extends "base.html" %}

{% block title %}Calendário da Competição{% endblock %}

{% block content %}

<h1>📅 Calendário da Competição</h1>

<table class="tabela">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Qtd Times</th>
            <th>Observações</th>
            <th>Mês</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>RODADA 1 – INÍCIO DA COMPETIÇÃO</td>
            <td></td>
            <td></td>
            <td>JANEIRO</td>
            <td>1º TURNO</td>
        </tr>

        <tr>
            <td>RODADA 2 – PLAYOFF COPA BRASIL</td>
            <td>45 DIRETO - 38 REPESCAGEM</td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 3 – REPESCAGEM COPA BRASIL</td>
            <td>38 TIMES</td>
            <td>19 PASSAM PRA PRÓXIMA FASE</td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 4 – 1º FASE COPA BRASIL</td>
            <td>64 TIMES</td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 5 – 2º FASE COPA BRASIL</td>
            <td>32 TIMES</td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 6 – OITAVAS COPA BRASIL</td>
            <td>16 TIMES</td>
            <td></td>
            <td>MARÇO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 7 – QUARTAS COPA BRASIL</td>
            <td>8 TIMES</td>
            <td></td>
            <td>MARÇO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 8 – SEMIS COPA BRASIL</td>
            <td>4 TIMES</td>
            <td></td>
            <td>MARÇO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 9 – FINAL COPA BRASIL</td>
            <td>2 TIMES</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 10 – PLAYOFF COPA MUNDO</td>
            <td>45 DIRETO - 38 REPESCAGEM</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 11 – REPESCAGEM COPA MUNDO</td>
            <td>38 TIMES</td>
            <td>19 PASSAM PRA PRÓXIMA FASE</td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 12 – FASE DE GRUPOS COPA MUNDO</td>
            <td>64 TIMES</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 13 – FASE DE GRUPOS COPA MUNDO</td>
            <td>64 TIMES</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 14 – FASE DE GRUPOS COPA MUNDO</td>
            <td>64 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 15 – 2º FASE COPA MUNDO</td>
            <td>32 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 16 – OITAVAS COPA MUNDO</td>
            <td>16 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 17 – QUARTAS COPA MUNDO</td>
            <td>8 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 18 – SEMIS COPA MUNDO</td>
            <td>4 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 19 – FINAL COPA MUNDO</td>
            <td>2 TIMES</td>
            <td></td>
            <td>JULHO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 20 – PLAYOFF CHAMPIONS</td>
            <td>45 DIRETO - 38 REPESCAGEM</td>
            <td></td>
            <td>JULHO</td>
            <td>2º TURNO</td>
        </tr>

        <tr>
            <td>RODADA 21 – REPESCAGEM CHAMPIONS</td>
            <td>38 TIMES</td>
            <td>19 PASSAM PRA PRÓXIMA FASE</td>
            <td>JULHO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 22 – REPESCAGEM CHAMPIONS</td>
            <td>38 TIMES</td>
            <td>19 PASSAM PRA PRÓXIMA FASE</td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 23 – FASE DE GRUPOS CHAMPIONS</td>
            <td>64 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 24 – FASE DE GRUPOS CHAMPIONS</td>
            <td>64 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 25 – FASE DE GRUPOS CHAMPIONS</td>
            <td>64 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 26 – FASE DE GRUPOS CHAMPIONS</td>
            <td>64 TIMES</td>
            <td></td>
            <td>SETEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 27 – FASE DE GRUPOS CHAMPIONS</td>
            <td>64 TIMES</td>
            <td></td>
            <td>SETEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 28 – FASE DE GRUPOS CHAMPIONS</td>
            <td>64 TIMES</td>
            <td></td>
            <td>SETEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 29 – 2º FASE CHAMPIONS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 30 – 2º FASE CHAMPIONS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 31 – OITAVAS CHAMPIONS</td>
            <td>16 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 32 – OITAVAS CHAMPIONS</td>
            <td>16 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 33 – QUARTAS CHAMPIONS</td>
            <td>8 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 34 – QUARTAS CHAMPIONS</td>
            <td>8 TIMES</td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 35 – SEMIS CHAMPIONS</td>
            <td>4 TIMES</td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 36 – SEMIS CHAMPIONS</td>
            <td>4 TIMES</td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 37 – FINAL CHAMPIONS</td>
            <td>2 TIMES</td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 38 – FIM DA COMPETIÇÃO</td>
            <td></td>
            <td></td>
            <td>DEZEMBRO</td>
            <td></td>
        </tr>

    </tbody>
</table>

{% endblock %}
