{% extends "base.html" %}

{% block title %}Calendário da Competição{% endblock %}

{% block content %}

<h1>📅 Calendário da Competição</h1>

<table class="tabela">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Qtd Times</th>
            <th>Observações</th>
            <th>Mês</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>RODADA 1 – INÍCIO DA COMPETIÇÃO</td>
            <td></td>
            <td></td>
            <td>JANEIRO</td>
            <td>1º TURNO</td>
        </tr>

        <tr>
            <td>RODADA 2 – COPA BRASIL - DIVISÃO DOS TIMES</td>
            <td>32 TIMES</td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 3</td>
            <td></td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 4 – COPA BRASIL - 1º FASE</td>
            <td>32 TIMES</td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 5 – COPA BRASIL - OITAVAS</td>
            <td>16 TIMES</td>
            <td></td>
            <td>FEVEREIRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 6 – COPA BRASIL - QUARTAS</td>
            <td>8 TIMES</td>
            <td></td>
            <td>MARÇO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 7 – COPA BRASIL - SEMIS</td>
            <td>4 TIMES</td>
            <td></td>
            <td>MARÇO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 8 – COPA BRASIL - FINAL</td>
            <td>2 TIMES</td>
            <td></td>
            <td>MARÇO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 9</td>
            <td></td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 10 – COPA MUNDO - DIVISÃO DOS TIMES</td>
            <td>32 TIMES</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 11</td>
            <td></td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 12 – COPA MUNDO - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 13 – COPA MUNDO - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>ABRIL</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 14 – COPA MUNDO - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 15 – COPA MUNDO - OITAVAS</td>
            <td>16 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 16 – COPA MUNDO - QUARTAS</td>
            <td>8 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 17 – COPA MUNDO - SEMIS</td>
            <td>4 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 18 – COPA MUNDO - FINAL</td>
            <td>2 TIMES</td>
            <td></td>
            <td>MAIO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 19</td>
            <td></td>
            <td></td>
            <td>JULHO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 20 – CHAMPIONS - DIVISÃO DOS TIMES</td>
            <td>32 TIMES</td>
            <td></td>
            <td>JULHO</td>
            <td>2º TURNO</td>
        </tr>

        <tr>
            <td>RODADA 21</td>
            <td></td>
            <td></td>
            <td>JULHO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 22 – CHAMPIONS - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 23 – CHAMPIONS - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 24 – CHAMPIONS - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 25 – CHAMPIONS - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>AGOSTO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 26 – CHAMPIONS - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>SETEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 27 – CHAMPIONS - GRUPOS</td>
            <td>32 TIMES</td>
            <td></td>
            <td>SETEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 28 – CHAMPIONS - OITAVAS</td>
            <td>16 TIMES</td>
            <td></td>
            <td>SETEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 29 – CHAMPIONS - OITAVAS</td>
            <td>16 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 30 – CHAMPIONS - QUARTAS</td>
            <td>8 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 31 – CHAMPIONS - QUARTAS</td>
            <td>8 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 32 – CHAMPIONS - SEMIS</td>
            <td>4 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 33 – CHAMPIONS - SEMIS</td>
            <td>4 TIMES</td>
            <td></td>
            <td>OUTUBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 34 – CHAMPIONS - FINAL</td>
            <td>2 TIMES</td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 35</td>
            <td></td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 36</td>
            <td></td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 37</td>
            <td></td>
            <td></td>
            <td>NOVEMBRO</td>
            <td></td>
        </tr>

        <tr>
            <td>RODADA 38 – FIM DA COMPETIÇÃO</td>
            <td></td>
            <td></td>
            <td>DEZEMBRO</td>
            <td></td>
        </tr>

    </tbody>
</table>

{% endblock %}
