{% extends "base.html" %}

{% block title %}Duplas{% endblock %}

{% block content %}

<h1>🤝 Resultados — Duplas</h1>

<div class="menu-resultados">

    <a href="/resultados/duplas/rodada" class="botao">🏆 Rodada</a>
    <a href="/resultados/duplas/mensal" class="botao">📅 Mensal</a>
    <a href="/resultados/duplas/turno" class="botao">🔄 Turno</a>
    <a href="/em-desenvolvimento" class="botao">💰 Cartoletas</a>
    <a href="/resultados/duplas/maior-pontuador" class="botao">🔥 Maior Pontuador</a>
    <a href="/resultados/duplas/rodada-a-rodada" class="botao">📊 Rodada a Rodada</a>
    <a href="/resultados/duplas/calendario_duplas" class="botao">🗓️ Calendário</a>
    <a href="/em-desenvolvimento" class="botao">🎁 Prêmios</a>
    <a href="/resultados/duplas/mata-mata" class="botao">🏆 Mata-Matas</a>


    <a href="/resultados/duplas/classificacao-geral" class="botao destaque">
        🥇 Classificação Geral
    </a>

</div>

{% endblock %}
